# Redis
REDIS_URL=redis://localhost:6379/0

# WhatsApp Meta
WHATSAPP_ACCESS_TOKEN=your_temp_or_permanent_token
PHONE_NUMBER_ID=your_phone_number_id
VERIFY_TOKEN=my_secret_token_123

# AI
GEMINI_API_KEY=your_google_gemini_api_key

# App
APP_NAME=WABot India Backend
